/* Element Overrides */
body {
    color: black;
    background: url('../assets/img/site-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: bc-alphapipe, sans-serif;
}
section {
    margin: 0 3vh 2vh;
    padding: 1vh;
    background: rgba(255,255,255, .5);
    border-radius: 4px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 700;
}
button {
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    border-width: 2px;
}


/* Light/Dark Classes */
.light {
    color: white;
    border-color: white
}
.dark {
    color: black;
    border-color: black;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    ul.navbar-nav {
        text-align: center;
    }
} 

@media only screen and (max-width: 334px) {

  }
  