/* Element Overrides */
html {
  scroll-behavior: smooth;
}

body {
    color: white;
    background: url('../assets/img/site-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: bc-alphapipe, sans-serif;
}
section {
    margin: 4vh 2vh;
    padding: 5vh;
    background: rgba(255,255,255, .5);
    border-radius: 4px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 400;
}
nav {
    overflow: hidden;
}
img.stripes {
    margin: -33vh 0 -31vh -4vh;
    transform: rotate(.275turn);
    height: 28vh;
}
button {
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    border-width: 2px;
    font-size: 3.5vh;
}
.button-container button {
    margin-bottom: 1vh;
}
hr {
    border: none;
    height: 2px;
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}
.fa {
    font-size: 3vh;
}
.abril {
    font-family: abril-text,serif;
}

/* Light/Dark Classes */
.light {
    color: white;
    border-color: white
}
.dark {
    color: black;
    border-color: black;
}


/* Media Queries */
@media only screen and (max-width: 991px) {
    img.stripes {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    ul.navbar-nav {
        text-align: center;
    }
    li.nav-item {
        font-size: 3vh;
    }
    .fa {
        font-size: 4.5vh;
    }
} 

@media only screen and (max-width: 334px) {

  }
  

