/* Element Overrides */
html {
  scroll-behavior: smooth;
}

body {
    color: white;
    background-color: black;
    /* background: url('../assets/img/site-bg.png'); */
    /* background-color: #311b57; */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: bc-alphapipe, sans-serif;
    padding-top: 56px;
}
section {
    margin: 0;
    padding: 15vh 1vh;
}
section#music {
    background: rgb(255,163,0);
    background: linear-gradient(180deg, rgba(255,163,0,1) 0%, rgba(255,107,0,1) 100%);
}
section#video {
    background: rgb(255,107,0);
    background: linear-gradient(180deg, rgba(255,107,0,1) 0%, rgba(255,80,0,1) 100%);
}
section#merch {
    background: rgb(255,80,0);
    background: linear-gradient(180deg, rgba(255,80,0,1) 0%, rgba(142,82,82,1) 100%);
}
section#shows {
    background: rgb(142,82,82);
    background: linear-gradient(180deg, rgba(142,82,82,1) 0%, rgba(78,43,27,1) 100%);
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 400;
}

/* Nav */
nav {
    overflow: hidden;
}
img.stripes {
    margin: -33vh 0 -31vh -4vh;
    transform: rotate(.275turn);
    height: 28vh;
}
i.fa.dark {
    margin: 0vh 1vh;
}
.nav-icons {
    margin-left: auto;
}
button {
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    border-width: 2px;
    font-size: 3.5vh;
}
.button-container button {
    margin-bottom: 1vh;
}
hr {
    border: none;
    height: 2px;
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}
.fa {
    font-size: 3vh;
}
.abril {
    font-family: abril-text,serif;
}


/* Light/Dark Classes */
.light {
    color: white;
    border-color: white
}
.dark {
    color: black;
    border-color: black;
}

/* Footer */
.footer-icons {
    width: 50%;
}

/* Media Queries */

/* Point where nav collapses */
@media only screen and (max-width: 991px) {
    img.stripes {
        display: none;
    }
    .nav-icons {
        margin: 1vh auto;
        text-align: center;
    }
    .nav-icons a {
        width: 25%;
    }
    .navbar-brand {
        font-size: 3.25vh;
    }
}

@media only screen and (max-width: 600px) {
    ul.navbar-nav {
        text-align: center;
    }
    li.nav-item {
        font-size: 3vh;
    }
    .fa {
        font-size: 4.5vh;
    }
    section {
        padding: 3vh 2vh;
    }
    .btn {
        width: 100%;
        font-size: 3vh;
    }
    .footer-icons {
    width: 100%;
    }
} 

@media only screen and (max-width: 334px) {

  }
  

